# build output
dist/
build/
# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/
playwright-report/
test-results/

# vite cache
.vite/

# temporary files
*.tmp
*.temp


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
