language: node_js
node_js:
- "8"

cache:
  directories:
  - "node_modules"

branches:
  only:
  - source
  - /.*/

install:
- yarn install
- yarn prepare-json
- yarn generate:gh-pages

script:
- echo "Skipping tests"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_ACCESS_TOKEN  # Set in travis-ci.org dashboard, marked secure https://docs.travis-ci.com/user/deployment/pages/#Setting-the-GitHub-token
  target-branch: master
  local-dir: dist
  on:
    branch: source
