+++
date = "2017-05-13T13:33:51+02:00"
draft = false
title = "Charlas"
weight = 102
type = "post"
class="post last talks"

+++

A maioría de charlas está gravadas e dispoñibles para o seu visionado.
Están son as catro últimas:

<div class="container-fluid">
    <div class="row">

<div class="col-xs-12 col-sm-6 video"><div class="embed-responsive  embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z2ZbPQyuyh8" frameborder="0" allowfullscreen></iframe></div></div>
<div class="col-xs-12 col-sm-6 video"><div class="embed-responsive  embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4yvSSZMHTZo" frameborder="0" allowfullscreen></iframe></div></div>
<div class="col-xs-12 col-sm-6 video"><div class="embed-responsive  embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KHdVe9fOa-U" frameborder="0" allowfullscreen></iframe></div></div>
<div class="col-xs-12 col-sm-6 video"><div class="embed-responsive  embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NbeP64e8DZQ" frameborder="0" allowfullscreen></iframe></div></div>


</div></div>

<span class="view-more">
[Preme aquí para ver tódalas charlas](./page/videos/)
</span>