{{ partial "header.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div class="post-single {{ if .Params.class }}{{ .Params.class }}{{ else }}post{{ end }}">
                    <header>
                        <h1>{{ .Title }}</h1>
                        <a href="/" class="back">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </header>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
