@font-face {
  font-family: 'Vigotech';
  src:  url('fonts/vigotech.eot?qv79y9');
  src:  url('fonts/vigotech.eot?qv79y9#iefix') format('embedded-opentype'),
  url('fonts/vigotech.ttf?qv79y9') format('truetype'),
  url('fonts/vigotech.woff?qv79y9') format('woff'),
  url('fonts/vigotech.svg?qv79y9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vt-"], [class*=" vt-"] {
  font-family: 'Vigotech' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.vt-pinecone:before {
  content: "\e900";
}



.vigotech-claim {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;


  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    background: #000;
    @include transition(all, .4s);
  }

  .vt-pinecone {
    color: $primary-color;
    font-size: 20px;
  }

  strong{
    font-weight: 500;
    color: #000;
    @include transition(all, .4s);
  }

  &.vigotech-dark {
    color: #eaeaea;
    strong{
      color: #fff;
    }
  }

  &:hover{
    strong {
      color: $primary-color;
    }
    &:before {
      right: 0;
      background: $primary-color;
    }
  }
}
