@include media($xs) {
  .vigotech-member-list {
    &.row {
      margin: 0;
    }
  }
}



.vigotech-member {
  .vigotech-next-event {
    i {
      @include fade-animation(1s);
    }
  }

  .logo-wrapper {
    text-align: center;

    .logo-content {
      display: inline-block;
      position: relative;
    }
  }
  .ivoox {
    transform: translate(0, 2px);
  }



  .vigotech-next-event {
    position: absolute;
    top: 0;
    left: 0;
  }
}


