@mixin media($devices) {
  @each $device in $devices {
    @media ($device) {
      @content;
    }
  }
}

@mixin transform($transform) {
  -ms-transform: $transform; /* IE 9 */
  -webkit-transform: $transform; /* Chrome, Safari, Opera */
  transform: $transform;
}


@mixin box-shadow($x: 0px, $y: 8px, $r: 3px, $color: #333) {
  -moz-box-shadow: $x $y $r $color;
  -webkit-box-shadow: $x $y $r $color;
  box-shadow: $x $y $r $color;
}

@mixin text-shadow($x: 0px, $y: 8px, $r: 3px, $color: #333) {
  -moz-text-shadow: $x $y $r $color;
  -webkit-text-shadow: $x $y $r $color;
  text-shadow: $x $y $r $color;
}

@mixin scale ($zoom: 1.1) {
  @include transform(scale($zoom));
}

@mixin rotate($angle: 90deg, $originX: 50%, $originY: 50%) {
  -webkit-transform: rotate($angle);
  -webkit-transform-origin: $originX $originY;

  -moz-transform: rotate($angle);
  -moz-transform-origin: $originX $originY;

  -o-transform: rotate($angle);
  -o-transform-origin: $originX $originY;

  -ms-transform: rotate($angle);
  -ms-transform-origin: $originX $originY;

  transform: rotate($angle);
  transform-origin: $originX $originY;
}


@mixin transition($property: all , $speed: 1s, $ease: ease-in-out) {
  -moz-transition: $property $speed $ease;
  -o-transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  transition: $property $speed $ease;
}

@mixin transition-delay($delay: 0.5s) {
  -webkit-transition-delay: $delay; /* Safari */
  transition-delay: $delay;
}


@mixin vertical-align($xs: true) {
  @if ($xs == false) {
    @include media(768px) {
      top: 50%;
      left: 0;
      right: 0;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  } @else {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}


@keyframes fade-animation {
  0%   { opacity:0.8; transform: scale(1)}
  50%  { opacity:1; transform: scale(1.2)}
  100% { opacity:0.8; transform: scale(1)}
}

@mixin fade-animation($time: 1s) {
  animation: fade-animation $time infinite;

}
