$xs: "max-width: 767px" !default;
$not-xs: "min-width: 768px" !default;
$sm: "min-width: 768px) and (max-width: 991px" !default;
$md: "min-width: 992px) and (max-width: 1199px" !default;
$lg: "min-width: 1200px" !default;


// Colors
$primary-color: #e84a5f;
$white: #fff;
$black: #000;
$gray: #22343A;
$light-gray: #999;

// Fonts
$primary-font: Raleway;
